<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- hls.js -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest" crossorigin="anonymous"></script>

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" crossorigin="anonymous"></script>

    <!-- lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- moment.js -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/moment.min.js" crossorigin="anonymous"></script>

    <title>BrowseBirb VOD Browser</title>
  </head>
  <body>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto container">
      <img src="browsebirb.svg" style="max-width: 24rem; width: 100%;"  alt="BrowseBirb VOD Browser">
    </div>

    <div id="vodplayer" v-show="active" class="container">
      <div v-if="error" class="alert alert-danger" role="alert">
        {{ error }} · Download or report this <a target="_blank" v-bind:href="url">index.m3u8</a>
      </div>

      <div v-show="loaded" class="card text-white bg-dark mb-3">
        <div class="card-header">
          {{ vod.info['@title'] }}
          <button v-on:click="close" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-img">
          <video ref="video" style="width: 100%; height: 100%;" controls></video>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            {{ streamer.info['@display_name'] }}
            ·
            {{ vod.info['@duration'] }}
            ·
            {{ vod.when }}
            ·
            <a target="_blank" v-bind:href="url">index.m3u8</a>
          </small>
        </div>
      </div>
    </div>

    <div id="nav" class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" v-bind:class="{ active: !streamer }"><a href="#" v-on:click="clearStreamer">Streamers</a></li>
          <li v-if="streamer" class="breadcrumb-item active" aria-current="page">{{ streamer }}</li>
        </ol>
      </nav>
    </div>

    <div id="vodlist" v-if="active" class="container">
      <div v-if="loading" class="alert alert-info" role="alert">
        Loading the video listing...
      </div>
      <div v-if="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>

      <div class="row top-buffer">
        <div v-for="vod in sortedVods" class="col-sm-6 col-md-4 col-lg-3">
          <div v-if="vod.error" class="card text-white bg-secondary mb-3">
            <div class="card-header">Error</div>
            <div class="card-body">
              <h5 class="card-title">{{ vod.error }}</h5>
              <p class="card-text">The VOD information couldn't be retrieved for {{ vod.directory }}</p>
            </div>
          </div>

          <div v-if="vod.loading" class="card bg-light mb-3">
            <div class="card-header">Loading</div>
            <div class="card-body">
              <p class="card-text">Retrieving metadata for {{ vod.directory }}</p>
            </div>
          </div>

          <div v-if="vod.loaded" class="card text-white bg-dark mb-3">
            <a href="#" v-on:click="play(vod)">
              <img v-if="vod.thumbnail" class="card-img-top" v-bind:src="vod.thumbnail" alt="Thumbnail">
              <div class="card-body" style="min-height: 7rem;">
                <p class="card-text text-white">
                  {{ vod.info['@title'] }}
                </p>
              </div>
            </a>
            <div class="card-footer">
              <small class="text-muted">
                {{ vod.info['@duration'] }}
                <br>
                {{ vod.when }}
                <br>
                <a href="#" v-on:click="play(vod)" class="card-link">Stream</a>
                <a target="_blank" v-bind:href="vod.subdirectory" class="card-link">Browse</a>
                <a target="_blank" v-bind:href="vod.metadata" class="card-link">Metadata</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="streamerlist" v-if="active" class="container">
      <div v-if="loading" class="alert alert-info" role="alert">
        Loading the streamer listing...
      </div>
      <div v-if="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>

      <div class="row top-buffer">
        <div v-for="streamer in sortedStreamers" class="col-sm-6 col-md-4 col-lg-3">
          <div v-if="streamer.error" class="card text-white bg-secondary mb-3">
            <div class="card-header">Error</div>
            <div class="card-body">
              <h5 class="card-title">{{ streamer.error }}</h5>
              <p class="card-text">The streamer information couldn't be retrieved for {{ streamer.directory }}</p>
            </div>
          </div>

          <div v-if="streamer.loading" class="card bg-light mb-3">
            <div class="card-header">Loading</div>
            <div class="card-body">
              <p class="card-text">Retrieving metadata for {{ streamer.directory }}</p>
            </div>
          </div>

          <div v-if="streamer.loaded" class="card text-white bg-dark mb-3">
            <a href="#" v-on:click="select(streamer)">
              <img v-if="streamer.info['@profile_image_url']" class="card-img-top" v-bind:src="streamer.info['@profile_image_url']" alt="Thumbnail">
              <div class="card-body text-white">
                <h5 class="card-title">
                  {{ streamer.info['@display_name'] }}
                </h5>
                <p class="card-text text-white">
                  {{ streamer.info['@description'] }}
                </p>
                <small class="text-muted">
                  {{ streamer.info['@view_count'] }} views
                </small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Nav App -->
    <script src="nav.js"></script>

    <!-- App -->
    <script src="vodplayer.js"></script>
    <script src="vodlist.js"></script>
    <script src="streamerlist.js"></script>

    <div id="info" class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <small class="text-muted">
        <a href="https://github.com/aquila12/browsebirb">github.com/aquila12/browsebirb</a>
        ·
        Provided under the MIT License
        ·
        Hosted by <a v-bind:href="owner.url">{{ owner.displayName }}</a>
      </small>
    </div>

    <script src="info.js"></script>
    <script src="owner-info.js"></script>
  </body>
</html>
